* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Pippins', sans-serif !important;
  height: 100vh;

  background-color: #1b3c53;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container {
  width: 60%;
  background-color: rgb(69, 104, 130);
  padding: 2rem;
  margin: 5% auto;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
.content {
  display: grid;

  align-items: center;
  gap: 1rem;
}
.content h2 {
  color: #163850;
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
}
.content input[type='text'],
button {
  width: 100%;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}
.content input[type='text'] {
  border: 1px solid #1b3c53;
  color: #1b3c53;
}
.content input[type='text']:focus {
  outline: 1px solid #1b3c53;
}
button {
  border: none;
  cursor: pointer;
  background-color: rgba(27, 60, 83, 0.7);
  color: #fff;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
button:hover {
  transform: translateY(-2px);
  background-color: rgba(27, 60, 83, 1);
}

#qrImg {
  padding: 1rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}
#download {
  display: none;
}
